#footer {
  background-color: rgb(255, 0, 0);
  position: relative;
  bottom: 0;
  left: 0;
  width: 100;
  text-align: center;
}
#img {
  height: 400px;
  width: 300px;
}
#first {
  color: rgb(33, 226, 233);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
  font-size: 70px;
}

p {
  font-size: 30px;
}

img {
  width: 50%;
}

h1 {
  font-size: 70px;
}


